// Variáveis
@cor-padrao: #c24e4b;
@cor-branca: #fff;
@cor-auxiliar: #1e2c35;
@cor-preta: #000;

//Mixins

.borda-arredondada(@raio-da-borda:0.3em) {
  -webkit-border-radius: @raio-da-borda;
  -o-border-radius: @raio-da-borda;
  border-radius: @raio-da-borda;
}

.image-replacement {
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

.sombra-padrao {
  box-shadow: 0 2px 6.65px 0.35px fade(@cor-preta, 30);
}

/** Geral **/
body {
  font-family: "Roboto Slab", serif;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.titulo-secao {
  text-decoration: underline;
  font-size: 2em;
  text-align: center;
}

.sobre,
.planos,
.blog,
.contato {
  padding: 3em 0 6em 0;
}

h2 {
  margin-top: 0;
}

/** Header **/
header {
  border-top: 5px solid @cor-padrao;
  background: fade(@cor-auxiliar, 80);
  height: 90px;
  width: 100%;
  position: absolute;

  .container {
    position: relative;
  }
}

.menu-opcoes {
  position: absolute;
  right: 0;
  top: -.5em;
  font-size: 1.2em;
  font-weight: lighter;

  ul {
    padding-left: 0;
  }

  li {
    display: inline-block;
    width: 5em;
  }

  a {
    color: @cor-branca;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

/** Destaque **/
.destaque {
  background: url(../imagens/destaque.jpg) center bottom repeat-x;
  -webkit-background-size: cover;
  background-size: cover;
  color: @cor-branca;
  height: 330px;
  padding-top: 10em;

  p {
    width: 30em;

    &:first-child {
      width: 30em;
      font-size: 1.3em;
      line-height: 1.1;

      &:first-line {
        font-size: 2.2em;
        font-weight: bold;
      }
    }
  }

  button {
    margin-top: 1em;
    background: @cor-padrao;
    border: 0;
    padding: .6em;
    font-size: 1.2em;
    .borda-arredondada(2em);
    box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
    font-weight: bold;

    &:hover {
      background: lighten(@cor-padrao, 5);
    }

    &:active {
      background: darken(@cor-padrao, 5);
    }
  }
}

/** Sobre **/
.sobre {
  background: #ebebeb;

  p {
    font: .9em/1.8 sans-serif;

    &:first-child {
      margin-bottom: 3em;
    }
  }
  
}

.duas-colunas {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  columns: 1;

  h3 {
    margin: 0;
  }
  
}

.plataformas {
  padding: 0;

  li {
    display: inline-block;
    width: 50px;
    height: 60px;
    .image-replacement;
    background-position: center;
    margin: 1em 1.5em 0 0;

    &:nth-child(1) {
      background-image: url(../imagens/logo-apple.png);
    }

    &:nth-child(2) {
      background-image: url(../imagens/logo-android.png);
    }

    &:nth-child(3) {
      background-image: url(../imagens/logo-windows.png);
    }
  
    &::nth-child(4) {
      background-image: url(../imagens/logo-blackberry.png);
    }
  }
}

/** Planos **/
.planos {
  background: @cor-auxiliar;

  h2 {
    color: @cor-branca;
  }
}

.plano {
  background: @cor-branca;
  width: 18em;
  display: inline-block;
  margin: 1em 0 0 1.4em;
  padding-bottom: 2em;

  &:hover {
    background: #dedede;
  }

  h3 {
    color: @cor-branca;
    font-size: 1.8em;
    background: @cor-padrao;
    text-align: center;
    height: 2em;
    padding-top: .6em;
    margin-top: 0;
  }

  div {
    text-align: center;
    color: @cor-padrao;
    font-size: 2.75em;
  }

  button {
    background: @cor-padrao;
    border: 0;
    color: @cor-branca;
    width: 210px;
    height: 38px;
    font-size: 1.2em;
    .borda-arredondada();
    .sombra-padrao;
    margin-left: 2em;
  }

}

.itens-plano {
  padding-left: 1.2em;

  li {
    font-size: 1em;
    list-style: none;
    border-bottom: 1px solid #acacac;
    padding: .5em;
    width: 14.8em;
  }

  &:last-child {
    border: 0;
  }

  span {
    float: right;
  }
}

.icone-check, .icone-x {
  background: url(../imagens/sprite.png) no-repeat;
  width: 18px;
  height: 18px;
}

.icone-check {
  background-position: -5px -5px;
}

.icone-x {
  background-position: -33px -5px;
}

/** Blog **/
.blog {
  display: block;
  position: relative;

  &::after {
    content: "";
    background: url(../imagens/fundo.png);
    background-size: 25px 25px;
    opacity: .15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

.post-destaque,
.posts-antigos {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}

.post-destaque {
  margin-right: 2em;

  img {
    width: 100%;
  }
  
}

.posts-antigos a {
  text-decoration: none;
  color: @cor-preta;
  background: url(../imagens/icone-relogio.png) left center no-repeat;
  padding-left: 2.5em;
  height: 1.7em;
  display: block;

  a:hover {
    text-decoration: underline;
  }
}

/** Contato **/
.contato input,
.contato button {
  display: block;
}

form {
  margin: 0 auto;
  width: 50%;
}

.contato input,
textarea {
  width: 100%;
  margin-bottom: .8em;
  padding: 4px 8px;
  .borda-arredondada();
  border: 2px solid #ccc;
}

.contato button {
  margin: 0 auto;
  background: @cor-padrao;
  border: 0;
  color: @cor-branca;
  width: 210px;
  height: 38px;
  font-size: 1.2em;
  .borda-arredondada();
  .sombra-padrao;
}

/** Footer **/
footer {
  display: block;
  position: relative;

  &::after {
    content: "";
    background: url(../imagens/fundo-rodape.png);
    opacity: .02;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  &::before {
    content: "";
    background: @cor-auxiliar;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  .container {
    padding-top: 3em;
    height: 6.5em;
    position: relative;

    img {
      width: 250px;
    }
  }
}

.menu-rodape,
.social {
  position: absolute;
}

.menu-rodape ul li {
  display: inline-block;
  margin-left: 2em;
}

.menu-rodape {
  top: 1em;
  right: 0;
}

.social {
  bottom: 0;
  right: 0;
}

.menu-rodape li,
.social li {
  display: inline;
}

footer a {
  color: @cor-branca;
  text-decoration: none;
}

.social li {
  float: left;

  a {
    display: block;
    width: 55px;
    height: 55px;
  .image-replacement;
    margin-left: 1em;
  }
}

.social a {
  background-position: top;
  background-size: 50px 50px;

  &[href*="facebook"] {
    background-image: url(../imagens/facebook.png);
  }

  &[href*="twitter"] {
    background-image: url(../imagens/twitter.png);
  }

  &[href*="instagram"] {
    background-image: url(../imagens/instagram.png);
  }
}